<div class="container-flush">
  <div class='card'>
    <img class'card-img-top' src='/assets/images/background-img.jpg' alt='profile background image'>
    <div class='card-block'>
      <h4 class="card-title">Sahiti S.</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
