# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 45a183f025f8c0534f5da33685fec93282db5d2fba77b5a8a99ac8f478d0dae2b5f0eb9eeb31e212fc9857720c785b43e7752365977133973148b4263060ac17

test:
  secret_key_base: ac71eae6f3c9af896792d820f1f7b8c3d1b4c1d135f1971a4e182bc16531d447c5fc1c9a21748a9c88dac9d587b5ec22d430da7fba2c9eeae184b080d65c5d85

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
