@import "bootstrap";

.body {
	 font-family: "Brandon", Helvetica, Arial, 
}
.navbar {
	background: #30373b !important;
	font-weight: 700 !important;
	font-kerning: normal !important;
	line-height: 1.33 !important;
    font-weight: 500 !important;
    margin-bottom: 0.66667em !important;
}

.navbar-brand {
	color:  #ffffff  !important;
	font-size: 1.57143em !important;
	font-kerning: normal !important;
	line-height: 1.33 !important;
    font-weight: 500 !important;

}
.dropdown-toggle {
	top: -15px;
}
.fixed-height {
	height: 1100px !important;
	top: -437px;
}

/*.carousel {
	height: 900px !important;
}
*/
.carousel-item {
	text-decoration: none !important;
}

.carousel-item #product-title {
	color:  #30373b;
	font-size: 2.57143em;
	font-kerning: normal;
	line-height: 1.33;
    font-weight: 500;
}

.carousel-item #product-vendor {
	color: #7ab55c;
	font-size: 1.5em;
}

.carousel-item #product-body {

	color: #949494;
	font-size: 1em;
	font-weight: 400;
}
.carousel .carousel-item img {
	width: 200% !important;
}

.button {
	top:20px;
  display: inline-block;
  border-radius: 4px;
  background-color: #7ab55c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.img-circle {
    border-radius: 50%;
}

.container {
	// width: auto !important;
	// padding-left: 0 !important;
	// padding-right: 0 !important;
}

.navbar-brand {
	color:black;
}


