@import "bootstrap";

.body {
	 font-family: proxima-nova-light;
}
.navbar {
	background: #30373b !important;
}

.navbar-brand {
	color: #ffffff !important;
}

.fixed-height {
	height: 900px !important;
	top: -300px;
}

/*.carousel {
	height: 900px !important;
}
*/

.carousel-item #product-title {
	color:  #30373b
}

.carousel-item #product-vendor {
	color: #96bf48
}

.carousel-item #product-body {
	color: #838383;
}
.carousel .carousel-item img {
	width: 200% !important;
}

.img-circle {
    border-radius: 50%;
}

.container {
	// width: auto !important;
	// padding-left: 0 !important;
	// padding-right: 0 !important;
}

.navbar-brand {
	color:black;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
	background-color: white !important;
}
