<div class="fixed-height">
  <div class="carousel fixed-height">
  		<% @products.each do |product| %>
  		<a class="carousel-item" href="#">

  			<% if !(product.image.blank?) %>
  			<img src="<%= product.image %>" class="z-depth-5">
      <% else %>
        <img src="http://i3.cpcache.com/product/782244121/philosoraptor_tshirt.jpg?color=Black&height=460&width=460&qv=90" class="z-depth-5">
      <% end %>

  			  <script type="text/javascript">
  			  // console.log("anything!!");
			    var scriptTag = document.getElementsByClassName('carousel-item');
			    // console.log(scriptTag);
			    scriptTag = scriptTag[scriptTag.length - 1];

			    var parent = scriptTag.parentNode;

			    if (parent.classList.contains('active')) {
			    	var div = document.createElement('div');
    				div.className = 'description';
			    	// val element = document.getElementsByClassName('carousel-item active')
			    	div.innerHTML = '<h5 id="product-title"><%= product.title %></h5><h7 id="product-vendor">by <%= product.vendor %></h7><br><h7 id="product-body"><%= product.body_html %></h7>'
			    	console.log(div);
			    	parent.appendChild(div);
			    	
			    }
			  </script>

			
  			<button class="button" style="vertical-align:middle"><span>Buy Now!</span></button>
        

  		</a>
      
      
  		<% end %>


  </div>
    <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <ul class="searchresults collection">
        </ul>
    </div>
  </div>

</div>
