<div class="fixed-height">
  <div class="carousel fixed-height">
  		<% @products.each do |product| %>
  		<a class="carousel-item" href="#">

  			<% if !(product.image.blank?) %>
  			<img src="<%= product.image %>" class="z-depth-5">
      <% else %>
        <img src="http://i3.cpcache.com/product/782244121/philosoraptor_tshirt.jpg?color=Black&height=460&width=460&qv=90" class="z-depth-5">
      <% end %>

      		<script type="text/javascript">



  			  	$(document).ready(function() {

  			  		$('.carousel').click(function() {
  			  			$('.carousel-item').children('.carousel-description').fadeOut();
  			  			setTimeout(function(){
								  $('.carousel-item.active').children('.carousel-description').fadeIn();
								}, 500);
  			  			
  			  		})

  			  	});
  			  
			  </script>

      		<div class="carousel-description">

					<h5 id="product-title"><%= product.title %></h5><h7 id="product-vendor">by <%= product.vendor %></h7><br><h7 id="product-body"><%= product.body_html %></h7>

					<button class="button" style="vertical-align:middle"><span>Buy Now!</span></button>

					</div>
  			  

			
  			

  		</a>
  		<% end %>


  </div>
</div>

