<div class="fixed-height">
  <div class="carousel fixed-height">
  		<% @products.each do |product| %>
  		<a class="carousel-item" href="#">
  			<img src="http://i3.cpcache.com/product/782244121/philosoraptor_tshirt.jpg?color=Black&height=460&width=460&qv=90" class="z-depth-5">
  			<text>
    			<h5 id="product-title"><%= product.title %></h5>
    			<h7 id="product-vendor">by <%= product.vendor %></h7>
    			<br>
    			<h7 id="product-body"><%= product.body_html %></h7>
  			</text>
  		</a>
  		<% end %>
  </div>
</div>
