<!-- <div class="navbar-wrapper">
<div class="container"> -->
<script>
   function findsearch(obj){     
        $.post("search",{key:obj.value}, success = function(data){console.log(data); 
                                             document.getElementsByClassName("searchresults")[0].innerHTML = '';             
                                         for(y =0 ;y< data.products.length; y++){
                                               var l = document.createElement("li");
                                                l.innerHTML = data.products[y].title;
                                                   x = document.getElementsByClassName("searchresults")[0];
                                                  x.insertAdjacentElement('afterbegin',l);
                                                  }
                                                  $("searchresults").show();
                                                 })
                                            
    }
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tryify</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" onkeyup="findsearch(this)" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
       
    </div>
      
                </nav>
          </li>
        <% if current_user.present? %>
        <li class="dropdown navbar-right">
          <a href="/products/new" style="background: transparent;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-circle" src="<%= current_user.image %>">
            <span class="caret"></span></a>
            <ul class="dropdown-menu">

              <% if current_user.present? %>
              <li style="width: 100%;">
                <%= link_to "Profile", "/products/new" %>
              </li>
              <li style="width: 100%;">
                <%= link_to "Log off", session_path(1), method: 'delete' %>
              </li>
              <% end %>
            </ul>
          </li>
          <% else %>
          <li>
            <%= link_to "Sign in with facebook", "/auth/facebook", id: "sign_in" %>
          </li>
          <% end %>


        </ul>

      </div>
    </div>
  </nav>

        <div class="searchresults">
        this
        </div>
<!--
<nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
-->


  <!-- </div>
</div> -->
